.experiencia-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* FILA */
.experiencia-wrapper .fila {
  display: grid;
  grid-template-columns: 1fr;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .experiencia-wrapper .fila {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .experiencia-wrapper .fila.reverse {
    direction: rtl;
  }

  .experiencia-wrapper .fila.reverse > * {
    direction: ltr;
  }
}

/* TEXTO */
.experiencia-wrapper p {
  padding: 1rem;
}

/* IMÁGENES */
.experiencia-wrapper figure {
  margin: 0;
  display: flex;
}

.experiencia-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
