.formacions-content {
    font-size: 0.875rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 1rem 0;
    gap: 1rem;
}

.formacions-content h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    color: #D3133A;
    text-align: center;
    display: none;

    @media (min-width: 768px) {
        font-weight: 800;
        font-size: 30px;
        display: block;
    }
}

.formacions-content p {
    margin-bottom: 0.75rem;
    font-weight: 600;
    text-align: justify;

    @media (min-width: 768px) {
        font-size: 1rem;
        font-weight: 500;
    }
}