.volunteer-content{
    font-size: 0.875rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    text-align: center;
    @media (min-width: 768px) {
        padding: 2rem 0 1rem 0;
      
    }
}

.volunteer-content h2 {
  font-weight: 700;
  font-size: 25px;
  color: #D3133A;
  margin-bottom: 10px;
  display: none;

  @media (min-width: 768px) {
      font-weight: 800;
      font-size: 30px;
      display: block;
  }
}

.volunteer-content p {
  margin-bottom: 0.75rem;
  font-weight: 400;
  text-align: center;

  @media (min-width: 768px) {
      font-size: 1rem;
  }
}

.general-wrapper-images, .general-wrapper-text {
  @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 2rem;
  }
}

.wrapper-images-1, .wrapper-images-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.general-wrapper-images strong {
  font-weight: 700;
  font-size: large;
}

.wrapper-images-1 figure, .wrapper-images-2 figure {
  width: 100%;
} 

.wrapper-images-1 img, .wrapper-images-2 img {
  width: 100%;
  height: auto;
}

.general-wrapper-text > figure {
  width: stretch;
}

.general-wrapper-text > figure > div > iframe{
  width: 100%;
  height: 315px;

  @media (min-width: 768px) {
      height: 400px;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.text-wrapper p {
  margin-bottom: 0.5rem;
  font-weight: 400;
  text-align: start;
}

.text-wrapper p:last-of-type {
  margin-top: 1rem;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.link-wrapper a {
  background-color: #D3133A;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem 0.5rem;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.875rem;
  text-decoration: none;
}